vs087_with_robotiq_3f_gripper:
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 125

  arm_controller:
    type: "position_controllers/JointTrajectoryController"
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

  gripper_controller:
    type: "effort_controllers/JointTrajectoryController"
    joints:
      - palm_finger_1_joint
      - finger_1_joint_1
      - finger_1_joint_2
      - finger_1_joint_3
      - palm_finger_2_joint
      - finger_2_joint_1
      - finger_2_joint_2
      - finger_2_joint_3
      - finger_middle_joint_1
      - finger_middle_joint_2
      - finger_middle_joint_3

  # gripper_controller:
  #   palm_finger_1_joint_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: palm_finger_1_joint
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_1_joint_1_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_1_joint_1
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_1_joint_2_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_1_joint_2
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_1_joint_3_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_1_joint_3
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   palm_finger_2_joint_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: palm_finger_2_joint
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_2_joint_1_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_2_joint_2
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_2_joint_2_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_2_joint_2
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_2_joint_3_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_2_joint_3
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_middle_joint_1_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_middle_joint_1
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_middle_joint_2_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_middle_joint_2
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
  #   finger_middle_joint_3_position_controller:
  #   type: position_controllers/JointPositionController
  #   joint: finger_middle_joint_3
  #   pid: {p: 100, i: 10, d: 0, i_clamp: 100}
