<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find vs087_with_robotiq_3f_gripper_control)/config/vs087_with_robotiq_3f_gripper_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node  name="spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
		    ns="/vs087_with_robotiq_3f_gripper"  args="joint_state_controller arm_controller gripper_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
    <remap from="/joint_states" to="/vs087_with_robotiq_3f_gripper/joint_states" />
  </node> -->

</launch>
